@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-color panel-info">
            <div class="panel-heading"><h3 class="panel-title">UPLOAD YOUR DOCUMENT</h3></div>
            <form id="frmdmtdocument">
                <input type="hidden" id="EntryMode" name="EntryMode" />
                <div class="panel-body">
                    <div id="dvmessage"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ddrange">Document Type:</label>
                                <select id="dd_type" class="select2" name="dd_type">
                                    <option value="0" selected>Select Document Type</option>
                                    <option value="1">Votter ID</option>
                                    <option value="2">Pan Card</option>
                                    <option value="3">Adhar Card</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="up_fundbalance">Front Image :</label>
                                <input type="file" name="fileUpload_F" id="fileUpload_F" class="form-control" />
                                <input type="hidden" id="frontimage" name="frontimage" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="up_fundbalance">Back Image :</label>
                                <input type="file" name="fileUpload_B" id="fileUpload_B" class="form-control" />
                                <input type="hidden" id="backimage" name="backimage" />

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" onclick="SaveEntry();" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Submit</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
        <div class="col-md-3">
            <div class="panel panel-color panel-info">
                <div class="panel-heading"><h3 class="panel-title">DOCUMENT STATUS</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" id="danger">
                                NO DOCUMENT AVAILABLE PLEASE UPLOAD ANY OF DOCUMENT TO START DMT SERVICE.
                            </div>
                            <div class="alert alert-warning" id="warning">
                                WAITING FOR ADMIN TO APPROV YOUR REQUEST. FOR MORE DETAIL CONTACT ADMINISTRATOR.
                            </div>
                            <div class="alert alert-success" id="success">
                                YOUR DOCUMENT IS APPROVED AND DMT SERVICE IS ACTIVE NOW.
                            </div>
                            <div class="alert alert-danger" id="rejected">
                                YOUR DOCUMENT IS REJECTED.FOR MORE DETAIL CONTACT ADMINISTRATOR.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section styles{
        <link rel="stylesheet" type="text/css" href="~/Content/select2/select2.css" />
    }
    @section scripts{
        <script src="~/Content/select2/select2.min.js"></script>
        <script type="text/javascript" src="~/Content/jquery.validate/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.select2').select2({
                    width: '100%'
                });

                $("#success").hide();
                $("#warning").hide();
                $("#danger").hide();
                $("#rejected").hide();

                GetStatus();
            });

            $("#fileUpload_F").change(function (e) {
                var fileUpload_F = $("#fileUpload_F").get(0);

                var reader = new FileReader();

                reader.readAsDataURL(fileUpload_F.files[0]);

                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    $("#frontimage").val(e.target.result);
                }
            });

            $("#fileUpload_B").change(function (e) {
                var fileUpload_B = $("#fileUpload_B").get(0);

                var reader = new FileReader();

                reader.readAsDataURL(fileUpload_B.files[0]);

                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();
                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;
                    $("#backimage").val(e.target.result);
                }
            });

            function SaveEntry() {

                if ($("#dd_type").val() == 0) {
                    $("#dvmessage").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a><ul><li>Please select document type.</li></ul></div>");
                    return;
                }

                var FrmModel = $("#frmdmtdocument").serialize();

                waitingDialog.show();
                $.post("../DmtDocuments/SaveEntry", FrmModel, function (resdata) {
                    waitingDialog.hide();
                    if (resdata.EntryStatus == true)
                    {
                        SuccessNotify(resdata.Messages);
                        ClearControls();
                        GetStatus();
                    } else {
                        $("#dvmessage").empty().append(resdata.MessageHtml);
                    }
                }).fail(function (response) {
                    $("#dvmessage").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a><ul><li>Unable to process request due to server. Please try again.</li></ul></div>");
                });
            }

            function ClearControls() {
                $("#frmdmtdocument").trigger("reset");
            }

            function GetStatus() {
                waitingDialog.show();
                $.getJSON("../DmtDocuments/GetStatus", function (json) {
                    waitingDialog.hide();
                    if (json == 1) {
                        $("#danger").show();
                    } else if (json == 2) {
                        $("#warning").show();
                    } else if (json == 3){
                        $("#success").show();
                    }else {
                        $("#rejected").show();
                    }
                });
            }
        </script>
    }
