<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>WEBSMITH : MULTI RECHARGE SOLUTION</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-reset.css" rel="stylesheet">
    <!--Animation css-->
    <link href="~/Content/animate.css" rel="stylesheet">
    <!--Icon-fonts css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/ionicon/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/helper.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>
<body style="background-image: url('@Url.Content("~/img/1.jpg")'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;">
    <div class="wrapper-page">
        <div class="panel panel-color panel-inverse">
            @RenderBody()
            <hr />
            <p class="text-center">
                <strong>Contact Us</strong>
                <br />
                <strong>BANSIMOBI : XXXX XXXXXX</strong>
            </p>
            <hr />
            <p class="text-center"> Powerd By : <a href="https://www.websmithsolution.com">Websmith Solution</a></p>
        </div>
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

