@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/select2/select2.css" />
}

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">
            <button class="btn btn-primary" onclick="AddCircle();"><i class="fa fa-plus-square-o"></i>&nbsp;Add New Circle</button>
            <button class="btn btn-inverse" type="button" onclick="RefreshMaster();"><i class="fa fa-refresh"></i></button>
        </span>
    </div>
    <div class="col-md-12">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Circle Master
                    
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="tblDisplay" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ENTRY DATE</th>
                                    <th>COUNTRY NAME</th>
                                    <th>CIRCLE NAME</th>
                                    <th>CIRCLE CODE</th>
                                    <th>STATUS</th>
                                    <th>EDIT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmCircle">
                <input type="hidden" id="circleid" name="circleid" />
                <input type="hidden" id="EntryMode" name="EntryMode" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Add New Circle</h4>
                </div>
                <div class="modal-body">
                    <div id="dvmessage"></div>
                    <div id="dvindexmessage"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Select Country :</label>
                                <select class="select2" name="countryid" id="countryid">
                                    <option value="00000000-0000-0000-0000-000000000000" selected>-Select Country-</option>
                                    @foreach (Web.Framework.Entity.CountryMaster el in ViewBag.CountryMaster)
                                    {
                                        <option value="@el.countryid">@el.nicename</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Circle Name :</label>
                                <input type="text" class="form-control" id="circle_name" maxlength="200" name="circle_name" placeholder="Circle Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Circle Code :</label>
                                <input type="text" class="form-control" id="circle_code" maxlength="200" name="circle_code" placeholder="Circle Code">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" onclick="SaveEntry();" class="btn btn-custom">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/select2/select2.min.js"></script>
    <script type="text/javascript">
        var tablelist;
        function formatDate(ms) {
            var date = new Date(parseInt(ms));
            var hour = date.getHours();
            var mins = date.getMinutes() + '';
            var time = "AM";
            // find time
            if (hour >= 12) {
                time = "PM";
            }
            // fix hours format
            if (hour > 12) {
                hour -= 12;
            }
            else if (hour == 0) {
                hour = 12;
            }
            // fix minutes format
            if (mins.length == 1) {
                mins = "0" + mins;
            }
            // return formatted date time string
            return (date.getDate().toString().length == 1 ? "0" : "") + (date.getDate()) + "/" + (date.getMonth().toString().length == 1 ? "0" : "") + (date.getMonth() + 1) + "/" + date.getFullYear() + " " + hour + ":" + mins + " " + time;
        }
        $(document).ready(function () {
            waitingDialog.show('Please Wait..');
            tablelist = $('#tblDisplay').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "sPaginationType": "full_numbers",
                "info": true,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))CircleMaster/GetAll",
                    "type": "POST", "datatype": "json"
                },
                "aoColumns": [
                {
                    data: "circleid", "bSearchable": true, "bSortable": true, "mRender": function (data, type, oObj) {
                        return '<label class="form-label">' + formatDate(oObj.CreatedDateTime.substring(6, oObj.CreatedDateTime.length - 2)) + '</label>';
                    }
                },
                { data: "countryname", "bSearchable": true, "orderable": true, "orderable": true },
                { data: "circle_name", "bSearchable": true, "orderable": true, "orderable": true },
                { data: "circle_code", "bSearchable": true, "orderable": true, "orderable": true },
                {
                    data: "Status", "bSearcable": true, "bSortable": true, "mRender": function (data, type, oObj) {
                        if (oObj.Status == 1) {
                            return "<button type='button' class='btn btn-primary btn-xs' onclick='StatusUpdate(&quot;" + oObj.circleid + "&quot;)'>Active</button>"
                        } else { return "<button type='button' class='btn btn-danger btn-xs' onclick='StatusUpdate(&quot;" + oObj.circleid + "&quot;)'>De-Active</button>" }
                    }
                },
                    {
                        data: "circleid", "bSearchable": true, "bSortable": false, "mRender": function (data, type, oObj) {
                            return ' <button type="button" class="btn btn-info btn-xs" onclick="EditEntry(/' + oObj.circleid + '/)">Edit</button>';
                        },
                    },
                ],
            });
            waitingDialog.hide();
            tablelist.init();
            $('.select2').select2({
                width: '100%'
            });
        });
        function AddCircle() {
            $("#dvindexmessage").empty();
            $("#dvmessage").empty();
            $("#circle_name").val("");
            $("#circle_code").val("");
            $('#myModal').modal('show');
        }
        function SaveEntry() {
            if ($("#countryid").val() == "00000000-0000-0000-0000-000000000000" || $("#countryid").val() == " " || $("#countryid").val() == null) {
                ErrorNotify("select country name");
                return false;
            }
            if ($("#circle_name").val() == "" || $("#circle_name").val() == " " || $("#circle_name").val() == null) {
                ErrorNotify("Circle name required");
                return false;
            }
            if ($("#circle_code").val() == "" || $("#circle_code").val() == " " || $("#circle_code").val() == null) {
                ErrorNotify("cirlce code required");
                return false;
            }
            waitingDialog.show();
            var frmModel = $("#frmCircle").serialize();
            $.post("../CircleMaster/SaveEntry", frmModel, function (resdata) {
                waitingDialog.hide();
                if (resdata.EntryStatus == true) {
                    $("#dvmessage").empty();
                    tablelist.draw();
                    $("#circle_name").val("");
                    $("#circle_code").val("");
                    
                    $('#myModal').modal('hide');
                    swal("Record Save Successfully", "", "success")
                    tablelist.fnDraw();
                } else {
                    $("#dvindexmessage").empty();
                    $("#dvmessage").empty().append(resdata.MessageHtml);
                }
            });
        }
        function StatusUpdate(updateid) {
            swal({
                title: "Status",
                text: "Are you sure to change Status...?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Change Status",
                closeOnConfirm: true
            },
                function () {
                    waitingDialog.show();
                    $.getJSON("../CircleMaster/UpdateStatus/" + updateid, function (json) {
                        waitingDialog.hide();
                        if (json.EntryStatus == true) {
                            tablelist.draw();
                        } else {
                        swal("Error", json.MessageHtml, "error")
                    }
                });
            });
        }
        function EditEntry(editid) {
            $("#circleid").val(editid);
            $("#EntryMode").val('Edit');
            $("#dvmessage").empty();
            waitingDialog.show();
            $.getJSON("../CircleMaster/EditRecord/" + editid, function (json) {
                waitingDialog.hide();
                $("#tblUserList").dataTable().fnDraw();
                $("#circle_name").val(json.Model.circle_name);
                $("#circle_code").val(json.Model.circle_code);
                $("#countryid").val(json.Model.countryid);
                $('#countryid').trigger('change');
            });
            $('#myModal').modal('show');
        }
    </script>
}