@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">
            <button class="btn btn-inverse" onclick="AddCountry();"><i class="fa fa-plus-square-o"></i>&nbsp;Add New Country</button>
            <button class="btn btn-inverse" type="button" onclick="RefreshMaster();"><i class="fa fa-refresh"></i></button>
        </span>
    </div>
    <div class="col-md-12">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Country Master
                    
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="tblDisplay" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ENTRY DATE</th>
                                    <th>ISO CODE</th>
                                    <th>NAME</th>
                                    <th>NICE NAME</th>
                                    <th>ISO3</th>
                                    <th>NUMBER CODE</th>
                                    <th>PHONE CODE</th>
                                    <th>STATUS</th>
                                    <th>EDIT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmCountry">
                <input type="hidden" id="countryid" name="countryid" />
                <input type="hidden" id="EntryMode" name="EntryMode" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Add New Country</h4>
                </div>
                <div class="modal-body">
                    <div id="dvmessage"></div>
                    @*<div id="dvindexmessage"></div>*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Country Name :</label>
                                <input type="text" class="form-control" id="countryname" maxlength="50" name="countryname" placeholder="Country Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Country Code :</label>
                                <input type="text" class="form-control" id="countrycode" maxlength="50" name="countrycode" placeholder="Country Code">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveEntry();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/select2/select2.min.js"></script>
    <script type="text/javascript">
        var tablelist;
        function formatDate(ms) {
            var date = new Date(parseInt(ms));
            var hour = date.getHours();
            var mins = date.getMinutes() + '';
            var time = "AM";
            // find time
            if (hour >= 12) {
                time = "PM";
            }
            // fix hours format
            if (hour > 12) {
                hour -= 12;
            }
            else if (hour == 0) {
                hour = 12;
            }
            // fix minutes format
            if (mins.length == 1) {
                mins = "0" + mins;
            }
            // return formatted date time string
            return (date.getDate().toString().length == 1 ? "0" : "") + (date.getDate()) + "/" + (date.getMonth().toString().length == 1 ? "0" : "") + (date.getMonth() + 1) + "/" + date.getFullYear() + " " + hour + ":" + mins + " " + time;
        }

        $(document).ready(function () {
            waitingDialog.show('Please Wait..');
            tablelist = $('#tblDisplay').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "sPaginationType": "full_numbers",
                "info": true,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))CountryMaster/GetAll",
                    "type": "POST", "datatype": "json"
                },
                "aoColumns": [
                {
                    data: "countryid", "bSearchable": true, "bSortable": true, "mRender": function (data, type, oObj) {
                        return '<label class="form-label">' + formatDate(oObj.CreatedDateTime.substring(6, oObj.CreatedDateTime.length - 2)) + '</label>';
                    }
                },
                { data: "isocode", "bSearchable": true, "orderable": true, "orderable": true },
                    { data: "name", "bSearchable": true, "orderable": true, "orderable": true },
                    { data: "nicename", "bSearchable": true, "orderable": true, "orderable": true },
                    { data: "iso3", "bSearchable": true, "orderable": true, "orderable": true },
                    { data: "numcode", "bSearchable": true, "orderable": true, "orderable": true },
                    { data: "phonecode", "bSearchable": true, "orderable": true, "orderable": true },
                {
                    data: "Status", "bSearcable": true, "bSortable": true, "mRender": function (data, type, oObj) {
                        if (oObj.Status == 1) {
                            return "<button type='button' class='btn btn-primary btn-xs' onclick='StatusUpdate(&quot;" + oObj.countryid + "&quot;)'>Active</button>"
                        } else { return "<button type='button' class='btn btn-danger btn-xs' onclick='StatusUpdate(&quot;" + oObj.countryid + "&quot;)'>De-Active</button>" }
                    }
                },
                    {
                        data: "countryid", "bSearchable": true, "bSortable": false, "mRender": function (data, type, oObj) {
                            return ' <button type="button" class="btn btn-info btn-xs" onclick="EditEntry(/' + oObj.countryid + '/)">Edit</button>';
                        },
                    },
                ],
            });
            waitingDialog.hide();
            tablelist.init();
            $('.select2').select2({
                width: '100%'
            });
        });

        function AddCountry() {
            $("#dvindexmessage").empty();
            $("#dvmessage").empty();
            $("#countryname").val("");
            $("#countrycode").val("");
            $('#myModal').modal('show');
        }

        function SaveEntry() {
            if ($("#countryname").val() == "" || $("#countryname").val() == " " || $("#countryname").val() == null) {
                ErrorNotify("Country name Reqiuerd !");
                return false;
            }
            if ($("#countrycode").val() == "" || $("#countrycode").val() == " " || $("#countrycode").val() == null) {
                ErrorNotify("Country Code Reqiuerd !");
                return false;
            }
            waitingDialog.show();
            var frmModel = $("#frmCountry").serialize();
            $.post("../CountryMaster/SaveEntry", frmModel, function (resdata) {
                if (resdata.EntryStatus == true) {
                    waitingDialog.hide();
                    $("#dvmessage").empty();
                    tablelist.draw();
                    $("#countryname").val("");
                    $("#countrycode").val("");
                    $('#myModal').modal('hide');
                    swal("Record Save Successfully", "", "success");
                    tablelist.fnDraw();
                } else {
                    $("#dvindexmessage").empty();
                    $("#dvmessage").empty().append(resdata.MessageHtml);
                }
            });
        }

        function StatusUpdate(updateid) {
            swal({
                title: "Status",
                text: "Are you sure to change Status...?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Change Status",
                closeOnConfirm: true
            },
                function () {
                    waitingDialog.show();
                    $.getJSON("../CountryMaster/UpdateStatus/" + updateid, function (json) {
                        waitingDialog.hide();
                    if (json.EntryStatus == true) {
                        tablelist.draw();
                    } else {
                        swal("Error", json.MessageHtml, "error")
                    }
                });
            });
        }

        function EditEntry(editid) {
            $("#countryid").val(editid);
            $("#EntryMode").val('Edit');
            $("#dvmessage").empty();
            waitingDialog.show();
            $.getJSON("../CountryMaster/EditRecord/" + editid, function (json) {
                waitingDialog.hide();
                $("#tblUserList").dataTable().fnDraw();
                $("#countryname").val(json.Model.countryname);
                $("#countrycode").val(json.Model.countrycode);
            });
            $('#myModal').modal('show');
        }

    </script>
}